.box{
  background-color: rgba(14, 187, 222, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  
}


.dataBox{
  background-color: rgba(14, 187, 222, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.queryBox{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.screencont {
  backdrop-filter: blur(0px);
  background-color: rgba(17, 32, 98, 0.1);
}

.background {
  background-color: green;
  width: 270px;
  padding: 10px;
}

.card {
  width: 250px;
  height: 300px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(7, 162, 239, 0.1);
  padding: 10px;
  text-align: center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;